<script type="text/javascript" src="javascript/wavesurfer.js"></script>
<script type="text/javascript" src="javascript/audio.js"></script>
<script>
    //console.log(window.Audio._getSpectrum());
</script>
<div id="default-container" style="display:none"></div>
