<div id="side-nav">
  <div id="logo-section" class="twerk-logo-section">
        <div id="drop-down">
              <a href="javascript:void(0)" id="cancel-link">
                <svg id="close" width="25" height="25" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                       viewBox="0 0 415.188 415.188" style="enable-background:new 0 0 415.188 415.188;" xml:space="preserve">
                      <path d="M412.861,78.976c3.404-6.636,2.831-14.159-0.15-20.404c0.84-7.106-1.02-14.321-7.746-19.855
                        c-6.262-5.151-12.523-10.305-18.781-15.457c-11.005-9.055-28.237-11.913-38.941,0c-48.619,54.103-99.461,105.856-152.167,155.725
                        c-39.185-36.605-78.846-72.713-118.223-108.868c-13.82-12.693-33.824-8.71-42.519,6.411c-12.665,6.286-22.931,14.481-31.42,28.468
                        c-4.042,6.664-3.727,15.076,0,21.764c25.421,45.578,74.557,85.651,114.957,122.529c-5.406,4.839-10.772,9.724-16.287,14.461
                        c-54.43,46.742-91.144,76.399-23.029,124.325c0.919,0.647,1.856,0.504,2.789,0.882c1.305,0.602,2.557,1.026,4.004,1.264
                        c0.45,0.017,0.87,0.093,1.313,0.058c1.402,0.114,2.774,0.471,4.195,0.192c36.621-7.18,70.677-35.878,101.576-67.48
                        c30.1,29.669,62.151,58.013,97.395,74.831c8.391,4.005,18.395,1.671,24.855-3.931c10.832,0.818,20.708-5.913,25.665-15.586
                        c0.734-0.454,1.207-0.713,2.002-1.21c15.748-9.838,17.187-29.431,5.534-42.936c-26.313-30.492-54.284-59.478-82.798-87.95
                        C316.426,196.043,380.533,141.939,412.861,78.976z"/>
                      <g>
                      </g>
                      <g>
                      </g>
                      <g>
                      </g>
                      <g>
                      </g>
                      <g>
                      </g>
                      <g>
                      </g>
                      <g>
                      </g>
                      <g>
                      </g>
                      <g>
                      </g>
                      <g>
                      </g>
                      <g>
                      </g>
                      <g>
                      </g>
                      <g>
                      </g>
                      <g>
                      </g>
                      <g>
                      </g>
                    </svg>
              </a>
        </div>
        <div id="icon">
              <a href="/media" class="link" id="home-link">
                  <svg id="logo" width="50" height="50" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                                                    <g>
                                                      <g>
                                                        <path d="M512,97.248c-19.04,8.352-39.328,13.888-60.48,16.576c21.76-12.992,38.368-33.408,46.176-58.016
                                                          c-20.288,12.096-42.688,20.64-66.56,25.408C411.872,60.704,384.416,48,354.464,48c-58.112,0-104.896,47.168-104.896,104.992
                                                          c0,8.32,0.704,16.32,2.432,23.936c-87.264-4.256-164.48-46.08-216.352-109.792c-9.056,15.712-14.368,33.696-14.368,53.056
                                                          c0,36.352,18.72,68.576,46.624,87.232c-16.864-0.32-33.408-5.216-47.424-12.928c0,0.32,0,0.736,0,1.152
                                                          c0,51.008,36.384,93.376,84.096,103.136c-8.544,2.336-17.856,3.456-27.52,3.456c-6.72,0-13.504-0.384-19.872-1.792
                                                          c13.6,41.568,52.192,72.128,98.08,73.12c-35.712,27.936-81.056,44.768-130.144,44.768c-8.608,0-16.864-0.384-25.12-1.44
                                                          C46.496,446.88,101.6,464,161.024,464c193.152,0,298.752-160,298.752-298.688c0-4.64-0.16-9.12-0.384-13.568
                                                          C480.224,136.96,497.728,118.496,512,97.248z"/>
                                                      </g>
                                                    </g>
                                                    <g>
                                                    </g>
                                                    <g>
                                                    </g>
                                                    <g>
                                                    </g>
                                                    <g>
                                                    </g>
                                                    <g>
                                                    </g>
                                                    <g>
                                                    </g>
                                                    <g>
                                                    </g>
                                                    <g>
                                                    </g>
                                                    <g>
                                                    </g>
                                                    <g>
                                                    </g>
                                                    <g>
                                                    </g>
                                                    <g>
                                                    </g>
                                                    <g>
                                                    </g>
                                                    <g>
                                                    </g>
                                                    <g>
                                                    </g>
                                                    </svg>
                  <div id="icon-name">media</div>
              </a>
        </div>
  </div>
  <div id="side-nav-link-div">
    <ul id="side-nav-link-list">
        <%if(user){%>
          <li class="side-nav-link-list">
                <a href="javascript:void(0)" id="profile-image-link">
                      <div id="profile-image"></div>
                </a>
          </li>
          <li class="side-nav-link-list" id="profile-link">
                <a href="/<%=user.username%>">#<%=user.username%></a>
          </li>
            <li class="side-nav-link-list">
                  <a href="javascript:void(0)" id="logout-link"><button id="logout-button">Sign out</button></a>
            </li>
        <%}%>
    </ul>
  </div>
</div>
<div class="myModal" id="myModal">
    <div class="myModalContent">
          <span class="closeMyModal">&times;</span>
          <p class="myModalUsername" ></p>
          <div class="myModalImage">
          </div>
          <div class="control-panel">
              //Follow Button might be included
          </div>
    </div>
</div>
<div id="header" class="col-sm-12 col-lg-12 col-xs-12 col-md-12">
      <div id="header-content">
          <div id="logo-section">
                <div id="drop-down">
                      <a href="javascript:void(0)" id="menu-link">
                        <div class="drop-down-icon"></div>
                        <div class="drop-down-icon"></div>
                        <div class="drop-down-icon"></div>
                      </a>
                </div>
                <div id="icon">
                      <a href="/media" class="link" id="home-link">
                          <svg id="logo" width="50" height="50" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                 viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                                                            <g>
                                                              <g>
                                                                <path d="M512,97.248c-19.04,8.352-39.328,13.888-60.48,16.576c21.76-12.992,38.368-33.408,46.176-58.016
                                                                  c-20.288,12.096-42.688,20.64-66.56,25.408C411.872,60.704,384.416,48,354.464,48c-58.112,0-104.896,47.168-104.896,104.992
                                                                  c0,8.32,0.704,16.32,2.432,23.936c-87.264-4.256-164.48-46.08-216.352-109.792c-9.056,15.712-14.368,33.696-14.368,53.056
                                                                  c0,36.352,18.72,68.576,46.624,87.232c-16.864-0.32-33.408-5.216-47.424-12.928c0,0.32,0,0.736,0,1.152
                                                                  c0,51.008,36.384,93.376,84.096,103.136c-8.544,2.336-17.856,3.456-27.52,3.456c-6.72,0-13.504-0.384-19.872-1.792
                                                                  c13.6,41.568,52.192,72.128,98.08,73.12c-35.712,27.936-81.056,44.768-130.144,44.768c-8.608,0-16.864-0.384-25.12-1.44
                                                                  C46.496,446.88,101.6,464,161.024,464c193.152,0,298.752-160,298.752-298.688c0-4.64-0.16-9.12-0.384-13.568
                                                                  C480.224,136.96,497.728,118.496,512,97.248z"/>
                                                              </g>
                                                            </g>
                                                            <g>
                                                            </g>
                                                            <g>
                                                            </g>
                                                            <g>
                                                            </g>
                                                            <g>
                                                            </g>
                                                            <g>
                                                            </g>
                                                            <g>
                                                            </g>
                                                            <g>
                                                            </g>
                                                            <g>
                                                            </g>
                                                            <g>
                                                            </g>
                                                            <g>
                                                            </g>
                                                            <g>
                                                            </g>
                                                            <g>
                                                            </g>
                                                            <g>
                                                            </g>
                                                            <g>
                                                            </g>
                                                            <g>
                                                            </g>
                                                            </svg>
                          <div id="icon-name">media</div>
                      </a>
                </div>
          </div>
          <div id="header-section">
                <ul class="header-button">
                  <% if(!user){%>
                    <li>
                      <button id="sign-in">Sign in</button>
                    </li>
                    <li>
                      <button id="sign-up">Sign up</button>
                    </li>
                    <li>
                        <button id="upload-button">Upload</button>
                    </li>
                  <%}else{%>
                    <li>
                        <button id="upload-button" class="twerk-upload-button">Upload</button>
                    </li>
                  <%}%>
                </ul>
          </div>
      </div>
</div>
<link rel="stylesheet" href="css/app_style_min.css" type="text/css"/>
<script>
  $("document").ready(function(){
    var upbar=document.getElementById("header");
    window.onscroll=function(){
      fixedPosition();
    };
    function fixedPosition(){
        var fixed=upbar.offsetTop;
      if(window.pageYOffset>=20 ){
          upbar.classList.add("sticky");
      }else{
        upbar.classList.remove("sticky");
      }
    }
    $("#menu-link").click(function(event){
      event.stopPropagation();
      $("#side-nav").show(200,function(){
          $("#header-section").css("filter","opacity(0.8) grayscale(90%)");
          $("#body9").css("filter","opacity(0.8) grayscale(90%)");
          $("#profile-body9 > *").css("filter","opacity(0.8) grayscale(90%)");
          $("#upload-body9").css("filter","opacity(0.8) grayscale(90%)");
          $("#categories").css("filter","opacity(0.8) grayscale(90%)");
          $("#myModal").css("filter","opacity(0.8) grayscale(90%)");
          $(".single-header").css("filter","opacity(0.8) grayscale(90%)");
      });
    });
    $("#cancel-link").on("click",function(event){
        event.stopPropagation();
        $("#side-nav").hide(200,function(){
           $("#myModal").css("filter","opacity(1) grayscale(0%)");
           $("#header-section").css("filter","opacity(1) grayscale(0%)");
           $("#body9").css("filter","opacity(1) grayscale(0%)");
           $("#upload-body9").css("filter","opacity(1) grayscale(0%)");
           $("#profile-body9 > *").css("filter","opacity(1) grayscale(0%)");
           $("#categories").css("filter","opacity(1) grayscale(0%)");
           $(".single-header").css("filter","opacity(1) grayscale(0%)");
        });
    });
    $('body,html').click(function(event){
        event.stopPropagation();
        $("#side-nav").css("display","none");
        $("#myModal").css("filter","opacity(1) grayscale(0%)");
        $("#header-section").css("filter","opacity(1) grayscale(0%)");
        $("#profile-body9 > *").css("filter","opacity(1) grayscale(0%)");
        $("#body9").css("filter","opacity(1) grayscale(0%)");
        $("#upload-body9").css("filter","opacity(1) grayscale(0%)");
        $("#categories").css("filter","opacity(1) grayscale(0%)");
        $(".single-header").css("filter","opacity(1) grayscale(0%)");
    });
    $("#sign-up").click(function(){
        $(".body9").hide(200);
        $(".sign-up-div").slideDown(200);
        $(".sign-in-div").hide(200);
        $(".sign-up-div-in-upload").slideDown(200);
        $(".sign-in-div-in-upload").hide(200);
        $(".upload-click").hide();
        $(".profile-div").hide();
    });
    $("#sign-in").click(function(){
        $(".body9").hide(200);
        $(".sign-up-div").hide(200);
        $(".sign-in-div").slideDown(200);
        $(".sign-up-div-in-upload").hide(200);
        $(".sign-in-div-in-upload").slideDown(200);
        $(".upload-click").hide();
        $(".profile-div").hide();
    });
    $("#upload-button").click(function(){
        $(".body9").slideDown(200);
        $(".sign-up-div").hide(200);
        $(".sign-in-div").hide(200);
        $(".sign-up-div-in-upload").hide(200);
        $(".sign-in-div-in-upload").hide(200);
        $(".upload-click").show();
        $(".profile-div").hide();
        $(".single-header").hide();
    });
  });
</script>
<!--
<script>
const CACHE_NAME="MediaCloud --v1";
if(window.location.pathname=="/media" || window.location.pathname=="/upload"){
  console.log(window.location.pathname+"------------x-x-x-x-\n-x-x-x-xxxxxx");
}else{
  console.log(window.location.pathname+"------------x-x-x-x-\n-x-x-x-xxxxxx");
  caches.open(CACHE_NAME).then(function(cache) {
      fetch(`${window.location.pathname+""+window.location.search}`).then(function(response) {
          if(response){
            console.log("[ServiceWorker] fetching ",response);
            cache.put(response.url,response.clone());
            return response;
          }
      })
    });
}
</script>
-->
